.filme-info {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    align-items: center;
    

}

.titulo{
    margin-left: 10px;
}

.filme-info img {
    border-radius: 5px;
    height: 400px;
    width: 300px;
}

.filme-info button {
    margin-right: 5px;
    margin-top: 15px;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    outline: none;
    padding: 8px;
    transition: all 0.5;

}

.botoes {
    display: flex;
    flex-direction: row;
    align-items: initial;
    margin: 0;
    width: 100%;
}

.filme-info button:hover {
    background-color: #374247;
    color: #FFFF;
    transition: ease-in 0.2s;
}

.filme-info a {
    text-decoration: none;
    color: black;
    transition: ease-in 0.2s;
}

.filme-info a:hover {
    
    color: #FFFF;
    
} 